body {
  background: var(--color-qwik-dark-background);
  color: var(--color-qwik-dark-text);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-qwik-light-blue);
}

code {
  background: rgba(230, 230, 230, 0.3);
  border-radius: 4px;
  padding: 2px 6px;
}

ul {
  margin: 0;
  padding-left: 20px;
}
